<html>
    <head>
        <title>{% block head_title %}PresupuestApp{% endblock %}</title>
        <!-- <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/favicon.ico"/> -->
    </head>
    <body>
      <style>
        body, html{
          margin: 0px;
          padding: 0px;
        }

        header{
          background: #4BA6DC;
          text-align: center;
          padding: 30px;
        }

        header h1{
          margin: 0px;
          color: #fff;
        }
      </style>
      <header>
        <h1>{% block title %}Bienvenidos a PresupuestApp{% endblock %}</h1>
      </header>
        {% block content %}

        {% endblock %}
    </body>
</html>
