<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <!-- <li class="sidebar-search">
        <div class="input-group custom-search-form">
          <input type="text" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </li> -->
      <li>
        <a href="/" style="color:#1D9853;"><i class="fa fa-home fa-fw"></i> Inicio</a>
      </li>
      <li>
        <a href="/rubros" style="color:#1D9853;"><i class="fa fa-list fa-fw"></i> Rubros</a>
      </li>
      <li>
        <a href="/areas" style="color:#1D9853;"><i class="fa fa-columns fa-fw"></i> Areas</a>
      </li>
      <li>
        <a href="/presupuestos" style="color:#1D9853;"><i class="fa fa-credit-card fa-fw"></i> Presupuestos</a>
      </li>
      <li>
        <a href="#" style="color:#1D9853;"><i class="fa fa-cogs"></i> Admin<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <a href="/valor_parametros" style="color:#1D9853;"><i class="fa fa-cubes"></i>Valores de Parametros</a>
          </li>
          <li>
            <a href="/parametros" style="color:#1D9853;"><i class="fa fa-cog"></i>Parametros</a>
          </li>
          <li>
            <a href="/admin" target="_blank"  style="color:#1D9853;"><i class="fa fa-mortar-board"></i> Admin</a>
          </li>
        </ul>
      </li>
      <li>
       <a href="/logout" style="color:#1D9853;">Cerrar Sesión</a>
      </li>
    </ul>
  </div>
</div>
