{% extends "base.html" %}
  {% block content %}
    <div class="landing-page">
      <div class="bg">
        <h1>PRESUPESTAPP</h1>
        <p>PresupuestApp es una super aplicacion que te permite crar un presupuesto ademas del dinamismo de administrar tus rubros y tus areas de las forma que el presupuesto se ajuste perfectamente a tus necesidades.</p>
        <div class="social-buttons">
          <a class="btn btn-block btn-social btn-twitter">
            <span class="fa fa-twitter"></span> Twitter
          </a>
          <a class="btn btn-block btn-social btn-github">
            <span class="fa fa-github"></span> GitHub
          </a>
          <a class="btn btn-block btn-social btn-facebook">
            <span class="fa fa-facebook"></span> Facebook
          </a>
        </div>
      </div>
    </div>
  {% endblock %}
