{% extends "base.html" %}
<html>
	<head>
		<title>Rubros</title>
	</head>
	{% block content %}
	<body>
	 <H2> Listar Rubros </h2>
		<br/>
		<a  href="/areas/crear" class="btn btn-success" > Nuevo </a>
		<a  href="/" class="btn btn-default" > Cancelar </a>
		<br/><br/>
    {% if rubros %}
      <table class="table">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Monto Presupuestado</th>
          <th>Monto Real</th>
          <th>Estado</th>
        </tr>
        {% for rubro in rubros %}
          <tr>
            <td><a href="#">{{ rubro.id }}</a></td>
            <td> {{ rubro.name }} </td>
            <td> {{ rubro.description }} </td>
            <td> {{ rubro.budgeted_amount }} </td>
            <td> {{ rubro.real_amount }} </td>
            <td> {{ rubro.status }} </td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
        <p>No existen rubros que mostrar!!!</p>
    {% endif %}
	</body>
	{% endblock %}
</html>
