{% extends "base.html" %}
<html>
	<head>
		<title>Presupuesto</title>
	</head>
	{% block content %}
	<body>
	 <H2> Listar Presupuestos </h2>
		<br/>
		<a  href="/areas/crear" class="btn btn-success" > Nuevo </a>
		<a  href="/" class="btn btn-default" > Cancelar </a>
		<br/><br/>
    {% if budgets %}
      <table class="table">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Estado</th>
          <th>rubros</th>
          <th>total</th>
        </tr>
        {% for budget in budgets %}
          <tr>
            <td><a href="#">{{ budget.id }}</a></td>
            <td>{{ budget.name }}</td>
            <td>{{ budget.description }}</td>
            <td>{{ budget.status }}</td>
            <td>{{ budget.rubros }}</td>
            <td>{{ budget.total }}</td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
        <p>No existen presupuestos que mostrar!!!</p>
    {% endif %}
	</body>
	{% endblock %}
</html>
